body {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.search-form {
    margin: 20px;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: #fff;
    color: #333;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.photo-card {
    display: flex;
    flex-direction: column;
    width: 348px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.photo-card img {
    border-radius: 5px;
    height: 100%;
}

.info {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: smaller;
}

.info-item {
    margin-bottom: 5px;
    text-align: center;
}

.load-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.end-message {
    text-align: center;
    margin-top: 20px;
    color: #666;
}